body {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

button:hover {
    background: #D03958;
    color: white;
}