body{
    margin: unset;
    font-size: 28px;
}

p{
    margin: unset;
}

.first-frame{
    background-image: url("road1.png");
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div{
    padding: 40px 80px;
}

nav{
    padding: 20px 240px;
}

nav button{
    background: transparent;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
}

nav button:hover{
    background: #D03958;
    color:white;
}

.travel-frame{
    padding: 150px 150px 230px 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.travel-is-beautiful {
    display: flex;
    flex-direction: column;
}

.travel-description{
    width: 780px;
    padding: 10px;
    margin-top: 30px;
}

.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 400px;
    left: 1100px;
    background-color: #D03958;
    color: white;
    border-radius: 6px;
}

.input{
    width:450px;
    padding: 30px;
    margin: 15px;
    border-radius: 6px;
    border: none;
    font-size:25px;
    font-family: "Times New Roman";
}

.input:hover{
    background-color: lightgray;
}

.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox{
    justify-items: flex-start;
    margin: 10px;
    border: none;
    height: 25px;
    width: 25px;
}

.send{
    border: black;
    width:500px;
    padding: 30px;
    border-radius: 6px;
    background: black;
    color:white;
    font-size: 25px
}

.send:hover{
    border: #E3D5B8;
    background: #E3D5B8;
    color: black;
}

.services-frame{
    padding: 60px 150px 90px 150px;
}

.services-text{
    display: flex;
    padding-bottom: 60px;
}

.services-row {
    display: flex;
    justify-content: space-between;
}

.services-row-elem{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-frame img{
    padding: 50px;
}

.services-frame p{
    text-align: center;
    padding: 0px 30px 0px 0px;
}

.story-frame{
    background-color: #D03958;
    display: flex;
    align-items: center;
    padding: 40px 150px;
    color: white;
}

.story-frame button{
    border: black;
    width:400px;
    padding: 30px;
    margin-left: 200px;
    border-radius: 6px;
    background: #E3D5B8;
    font-size: 25px
}

.story-frame button:hover{
    background: black;
    color: white;
}

.pricing-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px 0px 150px;
    background-color: #E3D5B8;
}

.pricing-blocks{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;

}

.pricing-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px 70px 0px 70px;
    margin: 100px 30px 0px 30px;
    position: relative;
}

.popular-block{
    display: block;
    position: absolute;
    border-top: 200px solid #B4A993;
    border-right: 200px solid transparent;
    left: 34%; top: 14%;
}

.popular{
    display: block;
    position: absolute;
    left: 35%; top: 21%;
    transform: rotate(-45deg);

}

.pricing-button1{
    border: none;
    width:300px;
    padding: 30px;
    border-radius: 6px;
    background: #E3D5B8;
    font-size: 25px;
    margin: 30px 30px 0px 30px;
}

.pricing-button1:hover{
    background: #D03958;
    color: white;
}

.pricing-button2{
    border: none;
    width:300px;
    padding: 30px;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background: #D03958;
    margin: 30px 30px 0px 30px;
}

.pricing-button2:hover{
    background: black;
    color: #D03958;
}

.testimonial-gallery{
    display: flex;
    justify-content: space-around;
    padding: 100px 150px 150px 150px;
}

.comment{
    display: flex;
    margin: 0px 150px 50px 0px;
}

.comment-text{
    padding: 15px;
}

.comment-text p{
    margin: 30px;
}

.comment-woman{
    display: block;
    position: relative;
    background-color: #E3D5B8;
    border-radius: 6px;
}

.woman-png{
    display: block;
    position: absolute;
    left: 39%;
}

.img-stack{
    display: block;
    position: relative;
    width: 90%;
}

.img1{
    display: block;
    width: 40%;
    position: absolute;
    top: 47px; left: 95%;
}

.img2{
    display: block;
    width: 50%;
    position: absolute;
    top: 10%; left: 50%;
}

.img3{
    display: block;
    width: 80%;
    position: absolute;
    top: 50px; left: 55%;
}

.img4{
    display: block;
    width: 30%;
    position: absolute;
    top: 200px; left: 30%;
}

.img5{
    display: block;
    width: 50%;
    position: absolute;
    top: 50px;
}

.view-more{
    display: block;
    position: absolute;
    top: 380px; left: 50%;
    text-decoration: underline;
}

.view-more:hover{
    color: black;
}

footer{
    padding: 100px 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.design-coon:hover{
    color: #E3D5B8;
}


button{
    font-size: 25px;
}

.font-l {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.font-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.t1 {
    font-size: 140px;
}

.t2 {
    font-size: 82px;
}

.tc1 {
    color:#D03958;
}

.tc2 {
    color: black;
}

.tc3 {
    color: white;
}

.pad1{
    margin: 30px;
}

.pad2 {
    padding: 100px 150px 70px 150px;
}